{:first ["Dizzy" "Dusty" "Mr." "Hooper" "Lovely" "Divine"
         "Holistic" "Spandex" "Burning" "Faded" "Terra" "Sequined"
         "Sparkle" "Glitter" "Twilight" "Spin" "Kundalini"
         "Fire" "Tantric" "Infinite" "Purple" "Jasmine" "Iso"
         "Chakra" "Galactic" "Om̄" "Earth"
         "Healthy" "Spicy" "Luna" "Sun" "Organic" "One" "Harmonic"
         "Sacred" "Flow" "Rainbow" "Trippy" "Spiral" "Glow" "Neon"
         "Wandering"  "Baby" "Moon" "Opal"]
 :last ["Hoops" "Galloopsie" "Hooper"
        "Goddess" "Mandala" "Mama" "Sparkle" "Diva"
        "Falcon" "Kitty" "Gaia" "Baby" "Charmer" "Blossom"
        "Flower" "Crystal" "Opal" "Tourmaline" "Dynamo" "Topaz"
        "Spinner" "Unity" "Flame" "Harvest" "Energy" "Monster"
        "Dreamer" "Girl" "Boy" "Chi" "Sunshine" "Moon" "Shadow"
        "Channel" "Unicorn" "Dawn" "Badass" "Monkey" "Khan"
        "Manatee" "Wonder" "Bliss" "Light" "Hawk" "Owl" "Fractal"
        "Fox" "Spinner" "Forest" "Lotus" "Dolphin" "Juice"]}
